{% extends 'base.html' %}
{% block content %}
  <div class="jumbotron mt-2">
    <h1 class="display-4">You've been ghosted!</h1>
    <p class="lead">
      You're here either because you've been ghosted or you want to ghost someone; Don't worry, it's really simple!
    </p>
    <hr class="my-4">
    <p class="lead">
      If you've been ghosted, click the "I've been Ghosted" button. Otherwise, click the "Create a new haunt" button.
    </p>
    {% if gid %}
      <a class="btn btn-warning" href="/dashboard">I've been Ghosted</a>
    {% else %}
      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#continue">I've been Ghosted</button>
    {% endif %}
    <a class="btn btn-secondary" href="/new">Create a new haunt</a>

    <div class="modal fade" id="continue" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">I've Been Ghosted!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class="text-light" aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/continue" method="POST">
              <div class="form-group">
                <label for="gid">Ghost ID</label>
                <input type="text" class="form-control" id="gid" name="gid" placeholder="Enter Ghost ID">
              </div>
              <button type="submit" class="btn btn-warning">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
