{% extends 'base.html' %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>

<div class="row mt-2">
  <div class="col-sm-3">
    <div class="card p-1 mt-1">
      <h1>{{ user.gid }}</h1>
      <a class="btn btn-warning" href="/generate">Print Ghosts</a>
      <button type="button", class="btn btn-primary mt-1" data-toggle="modal" data-target="#rules">Rules</button>
      <a class="btn btn-primary mt-1" href="/">Home</a>
    </div>
  </div>
  <div class="col-sm-9">
    <h2>Your Ghosting Network</h2>
    <div id="networkview" class="border border-primary mt-2"></div>
  </div>
</div>

<div class="modal fade" id="rules" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rules</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-light" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li>Attach the ghost to your door to let others know you've already been ghosted</li>
          <li>Click the "Print Ghosts" button to generate a printable pdf</li>
          <li>Print the PDF and cut out the messages and ghosts</li>
          <li>Put a message and ghost into a bag of treats</li>
          <li>Leave the bag of treats in front of your friend (who has yet to have been ghosted)'s door</li>
          <li>Ring their doorbell and run!</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function draw_network(data) {
    const nodes = new vis.DataSet(data.map(function(x) {
      if (x.id == {{ user.id }}) {
        return {id: x.id, label: "", color: {background: "orange", border: "black"}};
      } else if (x.active) {
        return {id: x.id, label: "", color: {background: "green", border: "black"}};
      }
      return {id: x.id, label: "", color: {background: "grey", border: "black"}};
    }));
    var e = []

    for (i in data) {
      for (c in data[i].children){
        e.push({from: data[i].id, to: data[i].children[c]});
      }
    }

    const edges = new vis.DataSet(e);
    
    const container = document.getElementById("networkview");
    const netdata = {
      nodes: nodes,
      edges: edges
    };

    var options = {
      layout: {
        hierarchical: {
          direction: "UD",
          sortMethod: "directed"
        }
      },
      physics: {
        enabled: false
      },
      interaction: {
        dragNodes: false,
        selectable: false
      }
    };

    var network = new vis.Network(container, netdata, options);

    
  }


  $.get("/network", draw_network);
</script>


{% endblock %}
